<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.IndexServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  <servlet-name>SearchServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ratingsAndReviewsServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ratingsAndReviewsServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>LoginGoogleServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.LoginGoogleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadConfirmServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.UploadConfirmServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>ConstAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ConstAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConstBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ConstBServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>DynAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynDServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DynEServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynEServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynFServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynFServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynGServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynGServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynHServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynHServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynIServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynIServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynJServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynJServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynKServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynKServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>DynLServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.DynLServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  <servlet-name>FluAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FluBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluBServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FluCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluCServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FluDServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluDServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FluEServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluEServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>FluFServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.FluFServlet</servlet-class>
  </servlet>


  <servlet>
  <servlet-name>StatAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>StatBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatBServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatCServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatDServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatDServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatEServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatEServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatFServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatFServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatGServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatGServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatHServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatHServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatIServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatIServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatJServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatJServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatKServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatKServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatLServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatLServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatMServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatMServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatNServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatNServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatOServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatOServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatPServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatPServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatQServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatQServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatRServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatRServlet</servlet-class>
  </servlet>
  <servlet>  
  <servlet-name>StatSServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.StatSServlet</servlet-class>
  </servlet>
    
    
  <servlet>
  <servlet-name>HeatAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.HeatAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>HeatBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.HeatBServlet</servlet-class>
  </servlet>

	
  <servlet>
    <servlet-name>MatSciAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MatSciAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MatSciBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MatSciBServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MatSciCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MatSciCServlet</servlet-class>
  </servlet>
	
	
  <servlet>
    <servlet-name>MechAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechBServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MechDServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechDServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechEServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechEServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechFServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechFServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>MechGServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechGServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechHServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechHServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechIServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MechJServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechJServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechKServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechKServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechLServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechLServlet</servlet-class>
  </servlet>	
    <servlet>
  <servlet-name>MechMServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechMServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>MechNServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.MechNServlet</servlet-class>
  </servlet>	
	
	
  <servlet>
  <servlet-name>ThermAServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermAServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermBServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermBServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermCServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermCServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermDServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermDServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermEServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermEServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermFServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermFServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermGServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermGServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermHServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermHServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermIServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermIServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermJServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermJServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermKServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermKServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ThermLServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02.servlet.ThermLServlet</servlet-class>
  </servlet>

	
	
  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ratingsAndReviewsServlet</servlet-name>
    <url-pattern>/reviews</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginGoogleServlet</servlet-name>
    <url-pattern>/googlelogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadConfirmServlet</servlet-name>
    <url-pattern>/uploadConfirm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ConstAServlet</servlet-name>
    <url-pattern>/const-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConstBServlet</servlet-name>
    <url-pattern>/const-b</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>DynAServlet</servlet-name>
    <url-pattern>/dyn-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynBServlet</servlet-name>
    <url-pattern>/dyn-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynCServlet</servlet-name>
    <url-pattern>/dyn-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynDServlet</servlet-name>
    <url-pattern>/dyn-d</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynEServlet</servlet-name>
    <url-pattern>/dyn-e</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynFServlet</servlet-name>
    <url-pattern>/dyn-f</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynGServlet</servlet-name>
    <url-pattern>/dyn-g</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynHServlet</servlet-name>
    <url-pattern>/dyn-h</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynIServlet</servlet-name>
    <url-pattern>/dyn-i</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynJServlet</servlet-name>
    <url-pattern>/dyn-j</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynKServlet</servlet-name>
    <url-pattern>/dyn-k</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynKServlet</servlet-name>
    <url-pattern>/dyn-l</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>FluAServlet</servlet-name>
    <url-pattern>/flu-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FluBServlet</servlet-name>
    <url-pattern>/flu-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FluCServlet</servlet-name>
    <url-pattern>/flu-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FluDServlet</servlet-name>
    <url-pattern>/flu-d</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FluEServlet</servlet-name>
    <url-pattern>/flu-e</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FluFServlet</servlet-name>
    <url-pattern>/flu-f</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>StatAServlet</servlet-name>
    <url-pattern>/stat-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatBServlet</servlet-name>
    <url-pattern>/stat-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatCServlet</servlet-name>
    <url-pattern>/stat-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatDServlet</servlet-name>
    <url-pattern>/stat-d</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatEServlet</servlet-name>
    <url-pattern>/stat-e</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatFServlet</servlet-name>
    <url-pattern>/stat-f</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatGServlet</servlet-name>
    <url-pattern>/stat-g</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatHServlet</servlet-name>
    <url-pattern>/stat-h</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatIServlet</servlet-name>
    <url-pattern>/stat-i</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatJServlet</servlet-name>
    <url-pattern>/stat-j</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatKServlet</servlet-name>
    <url-pattern>/stat-k</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatLServlet</servlet-name>
    <url-pattern>/stat-l</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatMServlet</servlet-name>
    <url-pattern>/stat-m</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatNServlet</servlet-name>
    <url-pattern>/stat-n</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatOServlet</servlet-name>
    <url-pattern>/stat-o</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatPServlet</servlet-name>
    <url-pattern>/stat-p</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatQServlet</servlet-name>
    <url-pattern>/stat-q</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatRServlet</servlet-name>
    <url-pattern>/stat-r</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatSServlet</servlet-name>
    <url-pattern>/stat-s</url-pattern>
  </servlet-mapping>
  
  
   <servlet-mapping>
    <servlet-name>HeatAServlet</servlet-name>
    <url-pattern>/heat-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeatBServlet</servlet-name>
    <url-pattern>/heat-b</url-pattern>
  </servlet-mapping>
  
  
   <servlet-mapping>
    <servlet-name>MatSciAServlet</servlet-name>
    <url-pattern>/matsci-a</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MatSciBServlet</servlet-name>
    <url-pattern>/matsci-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MatSciCServlet</servlet-name>
    <url-pattern>/matsci-c</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>MechAServlet</servlet-name>
    <url-pattern>/mech-a</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MechBServlet</servlet-name>
    <url-pattern>/mech-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MechCServlet</servlet-name>
    <url-pattern>/mech-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MechDServlet</servlet-name>
    <url-pattern>/mech-d</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MechEServlet</servlet-name>
    <url-pattern>/mech-e</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>MechFServlet</servlet-name>
    <url-pattern>/mech-f</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>MechGServlet</servlet-name>
    <url-pattern>/mech-g</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MechHServlet</servlet-name>
    <url-pattern>/mech-h</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MechIServlet</servlet-name>
    <url-pattern>/mech-i</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>MechJServlet</servlet-name>
    <url-pattern>/mech-j</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>MechKServlet</servlet-name>
    <url-pattern>/mech-k</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>MechLServlet</servlet-name>
    <url-pattern>/mech-l</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MechMServlet</servlet-name>
    <url-pattern>/mech-m</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MechNServlet</servlet-name>
    <url-pattern>/mech-n</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>ThermAServlet</servlet-name>
  	<url-pattern>/therm-a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermBServlet</servlet-name>
  	<url-pattern>/therm-b</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermCServlet</servlet-name>
  	<url-pattern>/therm-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermDServlet</servlet-name>
  	<url-pattern>/therm-d</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermEServlet</servlet-name>
  	<url-pattern>/therm-e</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermFServlet</servlet-name>
  	<url-pattern>/therm-f</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermGServlet</servlet-name>
  	<url-pattern>/therm-g</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermHServlet</servlet-name>
  	<url-pattern>/therm-h</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermIServlet</servlet-name>
  	<url-pattern>/therm-i</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermJServlet</servlet-name>
  	<url-pattern>/therm-j</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermKServlet</servlet-name>
  	<url-pattern>/therm-k</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThermLServlet</servlet-name>
  	<url-pattern>/therm-l</url-pattern>
  </servlet-mapping>



  <!-- Welcome files -->
<welcome-file-list>
  <welcome-file>index</welcome-file>
</welcome-file-list>
</web-app>
