
.reviewsButton {
	color: #ffffff;
	border: 3px solid #86c232;
	padding: 10px;
	text-decoration: none;
	background-color: #222629;
}

.reviewsButton:hover {
	color: #ffffff;
	border: 3px solid #86c232;
	padding: 10px;
	text-decoration: none;
	background-color: #6B6E70;
}

.button-reviews {
	margin-top: 30px;
	margin-bottom: 30px;
}

.title-container {
    width: 100%;
}

.title {
    font-size: 24px;
    text-align: center;
}

.eng-principle, keywords, author {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.project-content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.project-content .title {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0px 40% 0px 40%;
    width: 20%;
}

.description, .principle, .application {
    line-height: 30px;
}

/* Required Items Table */
table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Images */
.const-img {
    padding-left: 30%;
    padding-right: 30%;
    max-width: 40%;
    height: auto;
}


/* Ratings */
 .star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 36px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

