@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

.content-1 {
	margin: 0 350px 0 350px;
}

h2 {
	text-align: center;
}

h2 i {
	color: #86c232;
}

#project-title {
	margin-bottom: 6px;
	text-decoration: underline;
	font-weight: bold;
}

#select-menu {
	direction: ltr;
	font-family: 'Gotham';
	font-size: 15px;
    width: 99.4%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#title {
	margin-bottom: -10px;
	text-decoration: underline;
	font-weight: bold;
}

#stars-title {
	margin-bottom: 2px;
	text-decoration: underline;
	font-weight: bold;
}

#review-title {
	margin-bottom: -10px;
	text-decoration: underline;
	font-weight: bold;
}

.gen-form-input {
  direction:ltr;
  font-family: 'Gotham';
  color: black;
  font-size: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
  width: 97.5%;
}
 
textarea {
  font-family: 'Gotham';
  color: black;
  font-size: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
  width: 97.5%;
}

#submit {
  padding-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#submit:hover {
  background-color: #45a049;
}

.search-footer {
   	position: fixed;
 	bottom: 0;
}

@media print {
	.search-footer {
		display: block;
    	position: fixed;
  		bottom: 0;
	}



