/* Upload Form */
.gen-form-input, textarea {
  font-family: 'Gotham';
  color: black;
  font-size: 15px;
  width: 97.5%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.author, .keywords {
    margin-bottom: 4px;
}

input[name=keyword5], input[name=submittedBy5], .upload, textarea, table {
    margin-bottom: 0px;
}

select {
  font-family: 'Gotham';
  font-size: 15px;
  width: 99.3%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#newAuthorButton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-right: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#newAuthorButton:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 96%;
        margin-top: 0;
    }
    select {
        width: 105%;
    }
}

/* Required Items Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

th {
    background-color: #dddddd;
}

tr {
    border: 1px #dddddd solid;
}

.input-size {
  font-family: 'Gotham';
  color: black;
  font-size: 15px;
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
